<div class="form-container">
  <form class="form">        
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name"> <br>
    <input type="text" name="number" placeholder="Phone Number"> <br>
    <input type="text" name="email" placeholder="Email"> <br>
    <input type="text" name="address1" placeholder="Street Address">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="text" name="zip" placeholder="Zip Code"> <br>
    <input type="text" name="number" placeholder="Phone Number"> <br>
    <input type="text" name="notes" placeholder="Note & Date"> <br> <!-- will need to parse note and date into an obj and push into notes array -->
    <input class="addButton" type="submit" value="Add">
  </form>	
</div>