<div class="contacts-container">
  <h2 class="contacts">Contacts</h2>

  <div class="search">
    <input type="text" name="search" placeholder="Search" ng-model="$ctrl.query">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>

  <div class="sortBy">
  Sort by:
  <select ng-model="$ctrl.orderProp">
    <option value="firstName">First Name</option>
    <option value="lastName">Last Name</option>
  </select>
</div>

  <ul class="friendList">
    <li ng-repeat="friend in $ctrl.friends | filter: $ctrl.query | orderBy: $ctrl.orderProp track by $index" class="friend">
      <h4 ng-click="showDetails = !showDetails">{{friend.firstName + ' ' + friend.lastName}}</h4>
      <div class="friend-details" ng-class="{'hidden': !showDetails}">
        <p>{{friend.number}}</p>
        <p ng-if="friend.email">{{friend.email}}</p>
        <p ng-if="friend.address1">{{friend.address1}} <!-- <br> --> 
        <p ng-if="friend.address2">{{friend.address2}}</p>
        <p ng-if="friend.zip">{{friend.city}}, {{friend.state}} {{friend.zip}}</p>
        <p ng-if="friend.notes.length"> Notes:
          <ul class="notesList">
            <li ng-repeat="note in friend.notes" class="note">
              {{note.body}} - {{note.date}}
            </li>
          </ul>
        </p>
      </div>
    </li>
  </ul>
  
</div>




